@model PneuMalik.Models.Dto.Cathegory

@{
    ViewBag.Title = "Smazat kategorii";
}

<h2>Smazat kategorii</h2>

<h3>Opravdu chcete tuto kategorii smazat?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Název</dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Url adresa</dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>Titulek</dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>Klíčová slova </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>Anotace</dt>

        <dd>
            @Html.DisplayFor(model => model.Annotation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Smazat kategorii" class="btn btn-default" /> |
            @Html.ActionLink("Zpět na seznam", "Index")
        </div>
    }
</div>
