@model IEnumerable<PneuMalik.Models.Dto.Cathegory>

@{
    ViewBag.Title = "Seznam kategorií";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Vytvořit novou", "Create")
</p>
<table class="table">
    <tr>
        <th>Název</th>
        <th>Url</th>
        <th>Titulek</th>
        <th>Aktivní </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Editovat", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Smazat", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
