<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta content="Pneuservis a internetový obchod (e-shop). Prodáváme a opravujeme pneumatiky, geometrii, vyvážení kol, kovové a hliníkové (alu) disky. Prodáváme také akumulátory a sněhové řetězy. Vyměňujeme brzdové destičky, kotouče, tlumiče, výfuky a olej." name="description" />
    <meta content="pneumatiky, pneumatika, pneu, disky, disk, zimní pneumatiky, letní pneumatiky" name="keywords" />
    <meta name="author" content="PneuMalík" />
    <meta name="robots" content="index, follow" />
    @Styles.Render("~/Content/Eshop.css?v=1.0.0")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/request-helper.js")
    @Scripts.Render("~/Scripts/filter.js")
    @Scripts.Render("~/Scripts/modal.js")

</head>
<body>

    <div id="vse">

        @Html.Partial("_Header")

        <div id="obsah">

            @Html.Partial("_Left")

            @RenderBody()

        </div>

        @Html.Partial("_Footer")

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
