@using PneuMalik.Models
@using ExtensionMethods
@model EshopViewModel

@{ 
    var seasonSelected = false;
}

@using (Html.BeginForm("filtrace", "pneumatiky", FormMethod.Post))
{
    <table class="tabfiltr">
        <tbody>
            <tr class="tfhead">
                <td id="mainContent_U_Filter1_td_sezona0">Sezóna</td>
                <td id="mainContent_U_Filter1_td_vyrobce0">Výrobce</td>
                <td id="mainContent_U_Filter1_td_sirka0">Šířka</td>
                <td id="mainContent_U_Filter1_td_profil0">Profil</td>
                <td id="mainContent_U_Filter1_td_rafek0">Ráfek</td>
            </tr>
            <tr>
                <td id="mainContent_U_Filter1_td_sezona">
                    <select name="filterSeason" id="filter-season" onChange="filterChange('season')">
                        @foreach (var season in Model.Seasons.Where(s => Model.Filter.Seasons.Contains(s.Id)).OrderBy(s => s.Id))
                        {
                            var isInPeriod = DateTime.Now.Between(season.From, season.To);

                            <option @(!seasonSelected && isInPeriod ? "selected=\"selected\"" : "") value="@season.Id">@season.Name</option>

                            if (isInPeriod)
                            {
                                seasonSelected = true;
                            }
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_vyrobce">
                    <select name="filterManufacturer" id="filter-manufacturer" onChange="filterChange('manufacturer')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var manufacturer in Model.Manufacturers.Where(m => Model.Filter.Manufacturers.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@manufacturer.Id">@manufacturer.Name</option>
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_sirka">
                    <select name="filterWidth" id="filter-width" onChange="filterChange('width')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var width in Model.Filter.Widths.OrderBy(m => m))
                        {
                            <option value="@width">@width</option>
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_profil">
                    <select name="filterProfile" id="filter-profile" onChange="filterChange('profile')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var profile in Model.Filter.Profiles.OrderBy(m => m))
                        {
                            <option value="@profile">@profile</option>
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_rafek">
                    <select name="filterRim" id="filter-rim" onChange="filterChange('rim')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var rim in Model.Filter.Rims.OrderBy(m => m))
                        {
                            <option value="@rim">@rim</option>
                        }
                    </select>
                </td>
            </tr>
            <tr class="tfenter">
                <td><p>Pneumatika:</p></td>
                <td id="mainContent_U_Filter1_td_footer0" colspan="2">
                    <select name="filterCathegory" id="filter-cathegory" onChange="filterCathegoryChange()">
                        <option @(Model.CathegoryType == 1 ? "selected=\"selected\"" : "") value="1">Osobní, offroad, 4x4, SUV</option>
                        <option @(Model.CathegoryType == 2 ? "selected=\"selected\"" : "")value="2">Užitkové zátěžové "C"</option>
                        <option @(Model.CathegoryType == 3 ? "selected=\"selected\"" : "")value="3">Nákladní</option>
                        <option @(Model.CathegoryType == 4 ? "selected=\"selected\"" : "")value="4">Industriální a Průmyslové</option>
                        <option @(Model.CathegoryType == 5 ? "selected=\"selected\"" : "")value="5">Motopneu</option>
                        <option @(Model.CathegoryType == 6 ? "selected=\"selected\"" : "")value="6">Zemědělské</option>
                        <option @(Model.CathegoryType == 7 ? "selected=\"selected\"" : "")value="7">ATV</option>
                        <option @(Model.CathegoryType == 8 ? "selected=\"selected\"" : "")value="8">Duše a motovložky</option>
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_footer" colspan="1">
                    <span id="mainContent_U_Filter1_lblInfo"></span>
                    <input type="submit" name="ctl00$mainContent$U_Filter1$Button1" value="Filtruj" id="mainContent_U_Filter1_Button1" class="enter1">
                </td>

                <td>
                    <input type="submit" name="ctl00$mainContent$U_Filter1$Button2" value="Storno" id="filter-storno" class="enter2">
                </td>
            </tr>
        </tbody>
    </table>
}