@using PneuMalik.Models
@model EshopViewModel

@{ 
    var seasonSelected = false;

    if (Model.Filter.Seasons == null)
    {

        Model.Filter.Seasons = new List<int>();
    }

    if (Model.Filter.Widths == null)
    {

        Model.Filter.Widths = new List<int>();
    }

    if (Model.Filter.Profiles == null)
    {

        Model.Filter.Profiles = new List<int>();
    }

    if (Model.Filter.Rims == null)
    {

        Model.Filter.Rims = new List<int>();
    }

    if (Model.Filter.Sis == null)
    {

        Model.Filter.Sis = new List<int>();
    }

    if (Model.Filter.Lis == null)
    {

        Model.Filter.Lis = new List<int>();
    }
}

@using (Html.BeginForm("filtrace", "pneumatiky", FormMethod.Post))
{
    <table class="tabfiltr">
        <tbody>
            <tr class="tfhead">
                <td id="mainContent_U_Filter1_td_sezona0">Sezóna</td>
                <td id="mainContent_U_Filter1_td_vyrobce0">Výrobce</td>
                <td id="mainContent_U_Filter1_td_sirka0">Šířka</td>
                <td id="mainContent_U_Filter1_td_profil0">Profil</td>
                <td id="mainContent_U_Filter1_td_rafek0">Ráfek</td>
            </tr>
            <tr>
                <td id="mainContent_U_Filter1_td_sezona">
                    <select name="filterSeason" id="filter-season" onChange="filterChange('season')">
                        @if (Model.CathegoryType == 5 || Model.CathegoryType == 8)
                        {
                            seasonSelected = true;

                            <option selected="selected" value="0">nerozhoduje</option>
                        }
                        @foreach (var season in Model.Seasons.Where(s => Model.Filter.Seasons.Contains(s)).OrderBy(s => s))
                        {
                            var isInPeriod = true;

                            var seasonName = "-";
                            switch ((PneuMalik.Models.Dto.Season)season)
                            {
                                case PneuMalik.Models.Dto.Season.Allyear:
                                    seasonName = "Celoroční";
                                    break;
                                case PneuMalik.Models.Dto.Season.Winter:
                                    seasonName = "Zima";
                                    break;
                                case PneuMalik.Models.Dto.Season.Unknown:
                                    seasonName = "Neznámá";
                                    break;
                                default:
                                    seasonName = "Léto";
                                    break;
                            }

                            <option @(!seasonSelected && isInPeriod ? "selected=\"selected\"" : "") value="@season">@seasonName</option>

                            if (isInPeriod)
                            {
                                seasonSelected = true;
                            }
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_vyrobce">
                    <select name="filterManufacturer" id="filter-manufacturer" onChange="filterChange('manufacturer')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var manufacturer in Model.Manufacturers.Where(m => Model.Filter.Manufacturers.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@manufacturer.Id">@manufacturer.Name</option>
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_sirka">
                    <select name="filterWidth" id="filter-width" onChange="filterChange('width')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var width in Model.SirkaList.Where(m => Model.Filter.Widths.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@width.Id">@width.Name</option>
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_profil">
                    <select name="filterProfile" id="filter-profile" onChange="filterChange('profile')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var profile in Model.ProfilList.Where(m => Model.Filter.Profiles.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@profile.Id">@profile.Name</option>
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_rafek">
                    <select name="filterRim" id="filter-rim" onChange="filterChange('rim')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var rim in Model.RafekList.Where(m => Model.Filter.Rims.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@rim.Id">@rim.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Index rychlosti</td>
                <td>
                    <select name="filterSi" id="filter-si" onChange="filterChange('si')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var si in Model.SiList.Where(m => Model.Filter.Sis.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@si.Id">@si.Name</option>
                        }
                    </select>
                </td>
                <td>Index nosnosti</td>
                <td>
                    <select name="filterLi" id="filter-li" onChange="filterChange('li')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var li in Model.LiList.Where(m => Model.Filter.Lis.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@li.Id">@li.Name</option>
                        }
                    </select>
                </td>
                <td>
                    @if (Model.CathegoryType == 1)
                    {
                        <input type="checkbox" id="filter-rof" onchange="filterChange('rof')" /><span>Run on flat</span>
                    }
                </td>
            </tr>
            <tr class="tfenter">
                <td><p>Pneumatika:</p></td>
                <td id="mainContent_U_Filter1_td_footer0" colspan="2">
                    <select name="filterCathegory" id="filter-cathegory" onChange="filterCathegoryChange()">
                        <option @(Model.CathegoryType == 1 ? "selected=\"selected\"" : "") value="1">Osobní, offroad, 4x4, SUV</option>
                        <option @(Model.CathegoryType == 2 ? "selected=\"selected\"" : "") value="2">Užitkové zátěžové "C"</option>
                        <option @(Model.CathegoryType == 3 ? "selected=\"selected\"" : "") value="3">Nákladní</option>
                        <option @(Model.CathegoryType == 4 ? "selected=\"selected\"" : "") value="4">Industriální a Průmyslové</option>
                        <option @(Model.CathegoryType == 5 ? "selected=\"selected\"" : "") value="5">Motopneu</option>
                        <option @(Model.CathegoryType == 6 ? "selected=\"selected\"" : "") value="6">Zemědělské</option>
                        <option @(Model.CathegoryType == 7 ? "selected=\"selected\"" : "") value="7">ATV</option>
                        <option @(Model.CathegoryType == 8 ? "selected=\"selected\"" : "") value="8">Duše a motovložky</option>
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_footer" colspan="1">
                    <span id="mainContent_U_Filter1_lblInfo"></span>
                    <input type="submit" name="ctl00$mainContent$U_Filter1$Button1" value="Filtruj" id="mainContent_U_Filter1_Button1" class="enter1">
                </td>

                <td>
                    <input type="submit" name="ctl00$mainContent$U_Filter1$Button2" value="Storno" id="filter-storno" class="enter2">
                </td>
            </tr>
        </tbody>
    </table>
}