@using PneuMalik.Models
@using ExtensionMethods
@model EshopViewModel

@{ 

    if (Model.Filter.Widths == null)
    {

        Model.Filter.Widths = new List<int>();
    }

    if (Model.Filter.Rims == null)
    {

        Model.Filter.Rims = new List<int>();
    }
}

@using (Html.BeginForm("filtrace", "hlinikovedisky", FormMethod.Post))
{
    <table class="tabfiltr">
        <tbody>
            <tr class="tfhead">
                <td id="mainContent_U_Filter1_td_vyrobce0">Výrobce</td>
                <td id="mainContent_U_Filter1_td_sirka0">Šířka</td>
                <td id="mainContent_U_Filter1_td_rafek0">Ráfek</td>
            </tr>
            <tr>
                <td id="mainContent_U_Filter1_td_vyrobce">
                    <select name="filterManufacturer" id="filter-manufacturer" onChange="filterAluChange('manufacturer')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var manufacturer in Model.Manufacturers.Where(m => Model.Filter.Manufacturers.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@manufacturer.Id">@manufacturer.Name</option>
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_sirka">
                    <select name="filterWidth" id="filter-width" onChange="filterAluChange('width')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var width in Model.SirkaList.Where(m => Model.Filter.Widths.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@width">@width.Name</option>
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_rafek">
                    <select name="filterRim" id="filter-rim" onChange="filterAluChange('rim')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var rim in Model.RafekList.Where(m => Model.Filter.Rims.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@rim">@rim.Name</option>
                        }
                    </select>
                </td>

            </tr>
            <tr class="tfenter">
                <td></td>
                <td id="mainContent_U_Filter1_td_footer">
                    <span id="mainContent_U_Filter1_lblInfo"></span>
                    <input type="submit" name="ctl00$mainContent$U_Filter1$Button1" value="Filtruj" id="mainContent_U_Filter1_Button1" class="enter1">
                </td>

                <td>
                    <input type="submit" name="ctl00$mainContent$U_Filter1$Button2" value="Storno" id="filter-storno" class="enter2">
                </td>
            </tr>
        </tbody>
    </table>
}
