@using PneuMalik.Models
@using ExtensionMethods
@model EshopViewModel

@{

    if (Model.Filter.Rims == null)
    {

        Model.Filter.Rims = new List<int>();
    }

    if (Model.Filter.Brands == null)
    {

        Model.Filter.Brands = new List<int>();
    }

    if (Model.Filter.Models == null)
    {

        Model.Filter.Models = new List<int>();
    }
}

@using (Html.BeginForm("filtrace", "ocelovedisky", FormMethod.Post))
{
    <table class="tabfiltr">
        <tbody>
            <tr class="tfhead">
                <td id="mainContent_U_Filter1_td_rafek0">Ráfek</td>
                <td id="mainContent_U_Filter1_td_znacka0">Značka</td>
                <td id="mainContent_U_Filter1_td_model0">Model</td>
            </tr>
            <tr>
                <td id="mainContent_U_Filter1_td_rafek">
                    <select name="filterRim" id="filter-rim" onChange="filterSteelChange('rim')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var rim in Model.RafekList.Where(m => Model.Filter.Rims.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@rim.Id">@rim.Name</option>
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_znacka">
                    <select name="filterBrand" id="filter-brand" onChange="filterSteelChange('brand')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var brand in Model.ZnackaList.Where(m => Model.Filter.Brands.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@brand.Id">@brand.Name</option>
                        }
                    </select>
                </td>

                <td id="mainContent_U_Filter1_td_model">
                    <select name="filterModel" id="filter-model" onChange="filterSteelChange('model')">
                        <option selected="selected" value="0">nerozhoduje</option>
                        @foreach (var modelItem in Model.ModelList.Where(m => Model.Filter.Models.Contains(m.Id)).OrderBy(m => m.Name))
                        {
                            <option value="@modelItem.Id">@modelItem.Name</option>
                        }
                    </select>
                </td>

            </tr>
            <tr class="tfenter">

                <td id="mainContent_U_Filter1_td_footer" colspan="2">
                    <span id="mainContent_U_Filter1_lblInfo"></span>
                    <input type="submit" name="ctl00$mainContent$U_Filter1$Button1" value="Filtruj" id="mainContent_U_Filter1_Button1" class="enter1">
                </td>

                <td>
                    <input type="submit" name="ctl00$mainContent$U_Filter1$Button2" value="Storno" id="filter-storno" class="enter2">
                </td>
            </tr>
        </tbody>
    </table>
}
