<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Administrační modul</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/request-helper.js")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" title="Petr Malík - Pneuservis"><img src="~/img/mxlogo.gif" alt="Petr Malík - Pneuservis" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Produkty", "Index", "Products")</li>
                    <li>@Html.ActionLink("Kategorie", "Index", "Cathegories")</li>
                    <li>@Html.ActionLink("Sys. texty", "Index", "Texts")</li>
                    <li>@Html.ActionLink("Obrázky", "Images", "Admin")</li>
                    <li>@Html.ActionLink("Aktualizace", "Actualization", "Admin")</li>
                    <li>@Html.ActionLink("Import XML", "ImportXml", "Admin")</li>
                    <li><span class="rozbalovac">Hromadné úpravy</span>
                        <ul>
                            <li>@Html.ActionLink("Změna cen", "PriceChange", "Admin")</li>
                            <li>@Html.ActionLink("Změna slev", "SaleChange", "Admin")</li>
                            <li>@Html.ActionLink("Změna obrázků", "ImageChange", "Admin")</li>
                            <li>@Html.ActionLink("Změna textů", "TextChange", "Admin")</li>
                            <li>@Html.ActionLink("Hromadné mazání", "MultiDelete", "Admin")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Objednávky", "Index", "Orders")</li>
                    <li>@Html.ActionLink("Zákazníci", "Index", "Customers")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
