@using PneuMalik.Models
@model EshopViewModel

@{
    var pneuMenu = new[] { 7, 8, 9, 10, 11, 12, 13, 14 };
}

<div id="left">

    <ul class="menuvlevo">
        <li class="none"><a href="/pneumatiky/akcni-nabidka" title="Akční nabídka">Akční nabídka</a></li>
        <li>
            <a href="/pneumatiky/pneumatiky" title="Pneumatiky">Pneumatiky</a>
            <ul>
                @foreach (var cathId in pneuMenu)
                {
                    var cathegory = Model.Cathegories.FirstOrDefault(c => c.Id == cathId);

                    <li><a href="@cathegory.Url" title="@cathegory.Name">@cathegory.Name</a></li>
                }
            </ul>
        </li>
        <li><a href="/eshop/konfigurator" title="Litá kola - KONFIGURÁTOR">Litá kola - KONFIGURÁTOR</a></li>
        <li><a href="/disky/hlinikove-disky" title="Hliníkové disky">Hliníkové disky</a></li>
        <li><a href="/disky/ocelove-disky" title="Ocelové disky">Ocelové disky</a></li>
        <li>
            <a href="/prislusenstvi/prislusenstvi" title="Příslušenství">Příslušenství</a>
            <ul>
                <li><a href="/prislusenstvi/startovaci-baterie-brit" title="Startovací baterie BRIT">Startovací baterie BRIT</a></li>
                <li><a href="/prislusenstvi/startovaci-baterie-exide" title="Startovací baterie EXIDE">Startovací baterie EXIDE</a></li>
            </ul>
        </li>
    </ul>

    <div class="lboxgr">
        <div class="lbgr">
            <div class="lbg">

                @Html.Raw(ViewBag.Kontakty)

            </div>
        </div>
    </div>

    @Html.Raw(ViewBag.FirstStop)

</div>
