@using PneuMalik.Models.Dto

@model IList<Product>

<div id="right">

    <div id="right2">
        @Html.Raw(ViewBag.ProvozniDoba)
    </div>

    @foreach (var product in Model)
    {
        <div class="rbox">
            <p class="rbnadp">Náš TIP</p>
            <p class="f14"><strong>
                    <a class="carm" href="/pneumatika/150-9480-touring-2.aspx" title="@product.Design">
                        @product.Manufacturer.Name @product.Pattern
                    </a>
                </strong></p>
            <p>@($"{product.Width}/{product.HighPr} {product.Design}{product.Diameter} {product.IndexLi}{product.IndexSi}")</p>
            <p><a href="/pneumatika/150-9480-touring-2.aspx" title="@product.Design">
                <img src="/images/nahled/@(product.Code).jpg" alt="@product.Design" /></a>
            </p>
            <div class="rb">
                <p><img src="/img/vehicletypes/@(product.VehicleType.Id).png" alt="@product.VehicleType.Name" /> <img src="/img/seasons/@(product.Season.Id).png" alt="@product.Season.Name" /></p>
                <p class="f17 blue"><strong>@($"{product.Price:F} Kč")</strong></p>
                <p class="grn"><strong>@(product.InStock ? "SKLADEM" : "")</strong></p>
            </div>
        </div>
    }

    <div id="right2"><br>ceny jsou platné při objednávání přes internet</div>

</div>
<div class="cleaner"><hr /></div>
