@using PneuMalik.Models.Dto

@model IList<Product>

<div id="right">

    <ul class="menuvlevo">
        <li class="none"><input type="text" id="search" placeholder="Hledej" /></li>
    </ul>

    <div id="right2">
        @Html.Raw(ViewBag.ProvozniDoba)
    </div>

    @foreach (var product in Model)
    {

        var suf = $"{product.Manufacturer.Name} {product.Tyre.Dezen}";
        var urlSuffix = HttpUtility.UrlEncode(suf.ToLower().Replace(" ", "-").Replace(".", "-").Replace("/", "-"));

        var availability = "SKLADEM";

        if (product.Prices != null)
        {
            if (product.Prices.FirstOrDefault(p => p.DeliveryTime == 0) != null)
            {
                availability = "SKLADEM";
            }
            if (product.Prices.FirstOrDefault(p => p.DeliveryTime == 24) != null)
            {
                availability = "SKLADEM DO 36 hod";
            }
            if (product.Prices.FirstOrDefault(p => p.DeliveryTime == 48) != null)
            {
                availability = "SKLADEM DO 60 hod";
            }
        }
        else
        {
            availability = "NA DOTAZ";
        }

        <div class="rbox">
            <p class="rbnadp">Náš TIP</p>
            <p class="f14">
                <strong>
                    <a class="carm" href="/pneumatika/@($"{product.Id}/{urlSuffix}")" title="@product.Tyre.Dezen">
                        @product.Manufacturer.Name @product.Tyre.Dezen
                    </a>
                </strong>
            </p>
            <p>@($"{product.Tyre.Sirka.Name}/{product.Tyre.Profil.Name} {product.Tyre.Konstrukce}{product.Tyre.PrumerRafku} {product.Tyre.HmotnostniIndex}{product.Tyre.RychlostniIndex}")</p>
            <p>
                <a href="/pneumatika/@($"{product.Id}/{urlSuffix}")" title="@product.Tyre.Dezen">
                    <img src="/images/nahled/@(product.Image)" alt="@product.Tyre.Dezen" />
                </a>
            </p>
            <div class="rb">
                <p><img src="/img/vehicletypes/@(product.VehicleType.Id).png" alt="@product.VehicleType.Name" /> <img src="/img/seasons/@(product.Tyre.Sezona).png" alt="@((Season)product.Tyre.Sezona)" /></p>
                <p class="f17 blue"><strong>@($"{product.Price * (1 + (product.Dph / 100.0)):F} Kč")</strong></p>
                <p class="grn"><strong>@availability</strong></p>
            </div>
        </div>
    }

    <div id="right2"><br>ceny jsou platné při objednávání přes internet</div>

</div>
<div class="cleaner"><hr /></div>
