@model PneuMalik.Models.Dto.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Smazání produktu</h2>

<h3>Opravdu chcete smazat tento produkt?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Kód</dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>Název</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Aktivní</dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>Krátký popis</dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>Šířka</dt>
        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt>Průměr</dt>
        <dd>
            @Html.DisplayFor(model => model.Diameter)
        </dd>
        <dt>EAN</dt>
        <dd>
            @Html.DisplayFor(model => model.Ean)
        </dd>
        <dt>Běžná cena</dt>
        <dd>
            @Html.DisplayFor(model => model.PriceCommon)
        </dd>
        <dt>Cena</dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>Typ</dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Smazat" class="btn btn-default" /> |
            @Html.ActionLink("Zpět na seznam", "Index")
        </div>
    }
</div>
