@model IEnumerable<PneuMalik.Models.Dto.Product>

<h2>Seznam produktů</h2>

<p>
    @Html.ActionLink("Vložit nový", "Create")
</p>

@using (@Html.BeginForm("index", "products", FormMethod.Get))
{ 

<table class="table">
    <tr>
        <th>Název</th>
        <th>Kód</th>
        <th>Kategorie</th>
        <th>Náš tip</th>
        <th>Akce</th>
        <th>Skladem</th>
        <th></th>
    </tr>

    <tr>
        <th>@Html.TextBox("text")</th>
        <th>@Html.TextBox("code")</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><input type="submit" name="SubmitButton" value="Filtruj" /></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prices.FirstOrDefault().Stock)
        </td>
        <td>
            @Html.ActionLink("Editovat", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Smazat", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

}
