@model IEnumerable<PneuMalik.Models.Dto.Product>

<h2>Seznam produktů</h2>

<p>
    @Html.ActionLink("Vložit nový", "Create")
</p>
<table class="table">
    <tr>
        <th>Název</th>
        <th>Kód</th>
        <th>Rozměr</th>
        <th>Výrobce</th>
        <th>Dezén</th>
        <th>Kategorie</th>
        <th>Náš tip</th>
        <th>Akce</th>
        <th>Skladem</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Design)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cathegories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @Html.ActionLink("Editovat", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Smazat", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
