@model PneuMalik.Models.Dto.Product

@{ 

    var suf = $"{Model.Manufacturer.Name} {Model.Tyre.Dezen}";
    var urlSuffix = HttpUtility.UrlEncode(suf.ToLower().Replace(" ", "-").Replace(".", "-"));

    var availability = "SKLADEM";

    if (Model.Prices != null && Model.Prices.Where(p => p.Stock > 0).Count() > 0)
    {

        var prices = Model.Prices.Where(p => p.Stock > 0 && p.DeliveryTime > 0).OrderBy(o => o.DeliveryTime).ToList();

        if (prices.Count > 0)
        {
            availability = $"SKLADEM DO {prices.FirstOrDefault().DeliveryTime} hod";
        }
    }
    else
    {
        availability = "NA DOTAZ";
    }
}

@if (!string.IsNullOrEmpty(Model.Image))
{
    <p>
        <a class="preview" href="/images/detail/@(Model.Image)" alt="@Model.Tyre.Dezen">
            <img src="/images/ikona/@(Model.Image)" alt="@Model.Tyre.Dezen">
        </a>
    </p>
}
<table>
    <tbody>
        <tr>
            <td width="145">@($"{Model.Tyre.Sirka.Name}/{Model.Tyre.Profil.Name} {Model.Tyre.Konstrukce}{Model.Tyre.PrumerRafku} {Model.Tyre.HmotnostniIndex}{Model.Tyre.RychlostniIndex}")</td>
            <td width="155">
                <a href="/pneumatika/@($"{Model.Id}/{urlSuffix}")" title="@Model.Tyre.Dezen">
                    <strong>@(Model.Manufacturer != null ? Model.Manufacturer.Name : "")</strong> @Model.Tyre.Dezen
                </a>
            </td>
            <td width="96"><span class="f15 blue"><strong>Vaše cena:</strong></span></td>
            <td class="rred"><strong>@(Model.Action ? "AKCE" : "")</strong></td>
            <td></td>
        </tr>
        <tr>
            <td class="grn"><strong>DOSTUPNOST:<br>@availability</strong></td>
            <td><img src="/img/vehicletypes/@(Model.VehicleType.Id).png" alt="@Model.VehicleType.Name"> <img src="/img/seasons/@(Model.Tyre.Sezona).png" alt="@Model.Tyre.Sezona"></td>
            <td class="f15 blue"><strong>@($"{Model.Price:0} Kč")</strong></td>
            <td><input type="button" value="Koupit" class="enter3" onclick="window.location.href='/pneumatika/@($"{Model.Id}/{urlSuffix}")';"></td>
        </tr>
    </tbody>
</table>
<div class="cleaner"><hr></div>
