@using PneuMalik.Models

@model EshopViewModel

<div id="stred">

    @Html.Raw(ViewBag.Uvod)

    <h1>@ViewBag.UvodH1</h1>

    @Html.Partial("_Filter")

    @{
        var odd = false;
    }

    @foreach (var product in Model.Products)
    {
        odd = !odd;

        <div class="@(odd ? "proddark" : "prodlight")">
            <p><a class="preview" href="/images/detail/Winterhavk 3.jpg" alt="@product.Design">
                <img src="/images/ikona/Winterhavk 3.jpg" alt="@product.Design"></a>
            </p>
            <table>
                <tbody><tr>
                    <td width="145">@product.Name</td>
                    <td width="155"><a href="/pneumatika/150-000206345-wh3.aspx" title="@product.Design">
                        <strong>@(product.Manufacturer != null ? product.Manufacturer.Name : "-")</strong> @product.Design</a>
                    </td>
                    <td width="96"><span class="f15 blue"><strong>Vaše cena:</strong></span></td>
                    <td class="rred"><strong>AKCE</strong></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="grn"><strong>DOSTUPNOST:<br>SKLADEM</strong></td>
                    <td><img src="/img/osobni.png" alt="Osobní"> <img src="/img/zimni.png" alt="Zima"></td>
                    <td class="f15 blue"><strong>1669,00 Kč</strong></td>
                    <td><input type="button" value="Koupit" class="enter3" onclick="window.location.href='/pneumatika/150-000206345-wh3.aspx';"></td>
                </tr>
            </tbody></table>
            <div class="cleaner"><hr></div>
        </div>
    }

    <div class="cleaner"><hr></div>
    <hr />

    @Html.Raw(ViewBag.Banner)

</div>

@Html.Partial("_Right")